body {
  background: grey;
}

.card {
  background: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 6px 12px rgba(0,0,0,0.5);
  max-width: 300px;
  margin: 0 auto;

  font-size: 20pt;
  font-weight: bold;

  position: relative;
}

.front, .back {
  text-align: center;
}

.back, .flipped .front {
  display: none;
}
.flipped .back {
  display: block;
}
