| <!doctype html>
html
  head
    title Flashback II
    meta content="width=(device-width,)initial-scale=1.0" name="viewport"
    link href="/css/bootstrap.min.css" media="screen" rel="stylesheet"
    link href="/css/flashback.css" rel="stylesheet"
  body.edit
    .fixed
      .card
        input.front placeholder="front"
        input.back placeholder="back"
        button#ok add
        button#cancel cancel
    ul#card-list
    script src="/js/jquery.js"
    script src="/js/bootstrap.min.js"
    script src="/js/flashback-edit.js"
