| <!doctype html>
html
  head
    title Flashback II
    meta content="width=(device-width,)initial-scale=1.0" name="viewport"
    link href="/css/bootstrap.min.css" media="screen" rel="stylesheet"
    link href="/css/flashback.css" rel="stylesheet"
  body.show
    .card
      .front Front
      .back Back
    #endModal.modal
      p Done learnin
      p
        a#againButton href="#"
        a href="edit.html"
    #noCardsModal.modal
      p No more cards for today
      a href="edit.html"
    script src="/js/jquery.js"
    script src="/js/bootstrap.min.js"
    script src="/js/flashback.js"
