.show .card {
  display: none;
}

.card, .modal {
  background: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 6px 12px rgba(0,0,0,0.5);
  max-width: 300px;
  margin: 0 auto;
}

.card .front, .card .back {
  font-size: 20pt;
  font-weight: bold;
}
.card {
  position: relative;
}
.edit .card input {
  margin: 2px;
}

.card .front, .card .back {
  text-align: center;
}

.show .back, .show .flipped .front {
  display: none;
}
.show .flipped .back {
  display: block;
}

.modal {
  display: none;
  text-align: center;
}

#card-list .current > * {
  background: yellow;
}

#card-list .updating {
  font-style: italic;
}

