.card {
  background: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 6px 12px rgba(0,0,0,0.5);
  max-width: 300px;
  margin: 0 auto;
}

.card .front, .card .back, #card-list input {
  font-size: 250%;
  font-weight: bold;
  line-height: 170%;
  text-align: center;
}

.card {
  position: relative;
}

.card .front, .card .back {
  text-align: center;
}

.show .back, .show .flipped .front {
  display: none;
}
.show .flipped .back {
  display: block;
}

#card-list {
  margin: 0 auto;
}

#card-list td {
  font-size: 170%;
  text-align: center;
  line-height: 170%;
}

#card-list button {
  width: 6em;
}

#card-list input {
  height: auto;
  width: 8em;
}

#card-list .current > * {
  background: yellow;
}

#card-list .updating {
  font-style: italic;
}

