.card {
  background: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 6px 12px rgba(0,0,0,0.5);
  max-width: 300px;
  margin: 0 auto;
}

.card .front, .card .back, #card-edit input {
  font-size: 250%;
  font-weight: bold;
  line-height: 170%;
  text-align: center;
}

#card-edit {
  background: white;
}

#card-edit.affix-top {
  position: absolute;
  top: 50px;
}

#card-edit.affix {
  top: 0px;
}

#card-edit input {
  height: auto;
  margin: 1px;
}

.card {
  position: relative;
}

.card .front, .card .back {
  text-align: center;
}

.show .back, .show .flipped .front {
  display: none;
}
.show .flipped .back {
  display: block;
}

#card-list {
  margin-top: 85px;
  margin-bottom: 1em;
}

#card-list td {
  font-size: 170%;
  text-align: center;
  line-height: 170%;
  padding: 0;
}

#card-list .current > * {
  background: yellow;
}

#card-list button {
  display: none;
}

#card-list tr:hover button {
  display: inherit;
}

#card-list .updating {
  font-style: italic;
}

