* {
  margin: 0;
  padding: 0;
}
button {
  padding: 4px;
  margin: 3px;
}

body {
  background: grey;
}

.show .card {
  display: none;
}

.card, .modal, #card-list {
  background: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1px 6px 12px rgba(0,0,0,0.5);
  max-width: 300px;
  margin: 0 auto;
}

.card .front, .card .back {
  font-size: 20pt;
  font-weight: bold;
}
.card {
  position: relative;
}
.edit .fixed {
  width: 100%;
  position: fixed;
  top: 0;
}
.edit .card input {
  margin: 2px;
}

.front, .back {
  text-align: center;
}

.show .back, .show .flipped .front {
  display: none;
}
.show .flipped .back {
  display: block;
}

.modal {
  display: none;
  text-align: center;
}

#card-list {
  width: 400px;
  margin-top: 150px;
}

#card-list li {
  list-style: none;
}

#card-list li:nth-child(odd) {
  background: #e7e7e7;
}

#card-list > li > div {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}

#card-list li.current {
  background: yellow;
}

#card-list .updating {
  font-style: italic;
}

